.le__control {
  min-height: unset !important;
  border-color: var(--color-border) !important;
  background: var(--color-bg) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  cursor: text;
}

.le__control:hover {
  border-color: var(--color-fg) !important;
}

.le__value_container {
  padding: 1px 4px !important;
  gap: 2px;
}

.le__multi_value {
  color: var(--color-fg);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg) !important;
  margin: 1px !important;
}

.le__multi_value__label {
  font-size: 0.85em !important;
  padding: 1px 3px !important;
}

.le__multi_value__remove {
  color: var(--color-fg) !important;
  border-left: 1px dashed var(--color-border);
  padding: 0 3px !important;
}

.le__multi_value__remove:hover {
  background: var(--color-fg) !important;
  color: var(--color-bg) !important;
}

.le__input {
  color: var(--color-fg) !important;
  font-family: var(--font-body) !important;
}

.le__placeholder {
  font-size: 0.9em !important;
  color: var(--color-muted) !important;
}

.le__menu {
  font-size: 0.9em !important;
  border-radius: 0 !important;
  border: var(--border-width) solid var(--color-border) !important;
  background: var(--color-bg) !important;
}

.le__option {
  color: var(--color-fg) !important;
  background: var(--color-bg) !important;
  padding: 4px 8px !important;
}

.le__option--is_focused {
  background: #ebebeb !important;
}

.le__option--is_focused:active,
.le__option:active {
  background: #c4c4c4 !important;
}

.le__option--is_selected {
  background: var(--color-fg) !important;
  color: var(--color-bg) !important;
}

.le__dropdown_indicator {
  padding: 2px 4px !important;
}

.le__indicator_separator {
  display: none;
}

.le__clear_indicator {
  padding: 2px 4px !important;
}